@import "../resources/colors.scss";

/*For Mobile device*/
[class*="text-container-legal-"] {
  height: 100%;
  padding: 20px 20px 0 20px;
  overflow-y: scroll;
  color: $Text_Grey;
  font-size: 16px;
  line-height: 1.31;
  position: fixed;
}

.text-container-legal .back-button {
  margin-bottom: 150px;
}

/*For Tablet*/
@media only screen and (min-width: 600px) {
  .text-container-legal-T {
    height: 320px;
    padding: 20px 20px 0 20px;
    overflow-y: scroll;
    color: $Text_Grey;
    font-size: 16px;
    line-height: 1.31;
    position: static;
  }

  .text-container-legal-T .back-button {
    margin-bottom: 20px;
  }
}

/*For Desktop*/
@media only screen and (min-width: 768px) {
  .text-container-legal-D {
    height: 320px;
    padding: 20px 20px 0 20px;
    overflow-y: scroll;
    color: $Text_Grey;
    font-size: 16px;
    line-height: 1.31;
    position: static;
  }

  .text-container-legal-D .back-button {
    margin-bottom: 20px;
  }
}

.text-container-legal h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 0 10px 0;
}

.text-container-legal h4 {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.text-container-legal p {
  margin-top: 5px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f0f0;
}

::-webkit-scrollbar-thumb {
  background: #dcdbdb;
}

::-webkit-scrollbar-thumb:hover {
  background: #dcdbdb;
}
